* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, #808080, #4F4F4F);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculadora {
    position:fixed;
    top: 20%;
    left: 50%;
    width: 520px;
    height: 800px;
    margin-top: -9em;
    margin-left: -17em;
}

.numeric {
    width: 125px;
    height: 125px;
    display: inline-block;
    background: #E0FFFF;
    color: #969ea5;
    font-size: 40px;
    text-align: center;
    vertical-align: middle !important;
    margin-left: -5px;
    padding-top: 40px;
    cursor: pointer;
}

.numeric:active {
    background: #B0E0E6;
    color: #191a1c;
}

.zero {
    width: 250px;
}

.action {
    background: #242529;
}

.result {
    background: #7FFFD4;
}
.result:active {
    background: none;
}

.visor {
    width: 500px;
    height: 220px;
    margin-left: -5px;
    background: #f6f7fa;
}

.total {
    color: #242529;
    width: 500px;
    font-size: 70px;
    text-align: right;
    padding-right: 10px;
}

.acc {
    color: #c5c5c5;
    width: 500px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}